.titlePanelDiv {
	height: 10%;
	text-align: center;
#	background: #e0ede3;
	background:#004E2B;
	vertical-align: middle;
}

.titleTextDiv {
    padding-top: 1rem;
    padding-bottom:1rem;
    padding-right:1rem;
    padding-left:2.5rem;

}

.titleText {
	font-size: 1.5em;
	color: #0c462e;
}
