.titlePanelDiv {
	text-align: center;
	background: #E0EDE3;
	vertical-align: middle;
}

.titleTextDiv {
	padding-top: 10px;
        padding-bottom: 10px;
}

.titleText {
	font-size: 1.5em;
	color: #0C462E;
} 

