
.gridImg {
	max-width: 100%;
	width: auto;
	height: auto;
}

.gridLabel {
	margin-top: 2%;
	width: 100%;
	text-align: center;
	border: none;
	background: white;
	font-size: 20px;
	color: blue;
}