.titlePanelDiv {
	height: 10%;
	text-align: center;
	background: #004E2B;
	vertical-align: middle;
}

.titleTextDiv {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.titleText {
	font-size: 1.5em;
	color: white;
}
