<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI Demo</title>
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.0/weui.min.css">
    <link rel="stylesheet" href="css/commodityDetail.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <script src="js/commodityDetail.js" type="text/javascript"></script>
</head>
<body onload="generateList()">
	<div class="titlePanelDiv">
    	<div class="titleTextDiv">
    	   <text class="titleText">标题</text>
    	</div>
    </div>

    <div class="content">
        <div class="weui_grids" id="grids">

<!--             <a href="javascript:;" class="weui_grid">
                <div class="weui_grid__icon gridItem">
                    <img src="img/testImg.jpg" alt="" class="gridImg">
                </div>
                <p class="weui_grid__label gridLabel">Grid</p>
            </a> -->

        </div>
    </div>

</body>

</html>