<!DOCTYPE html>
<html>

    <head>
        <title>测试</title>
    </head>

    <body>
        <h1>...</h1>
        FOLDER <strong>{{ foldermessage }}</strong><br />
        USER: <strong>{{ usermessage }}</strong><br />
        <a href="/operation/index/">About</a><br />
        <strong>{{usermessage}}能读{{fold.name}}里的文件</strong>
        {% if canreadfilelist %}
        <ul>
           {% for file in canreadfilelist %}
          <li> {{file.label}} </li>
            {% endfor %}
        </ul>
        {% endif %}
        <strong>{{usermessage}}能读{{fold.name}}里的目录</strong>
        {% if foldlist %}
        <ul>
           {% for folder in foldlist %}
            <li> {{folder.name}} </li>
            {% endfor %}
        </ul>
        {% endif %}
            </body>

</html>
