{% load i18n admin_static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>代理身份绑定</title>
    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static "operation/css/register.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "operation/css/base.css" %}" />
    <link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/open/libs/weui/0.4.0/weui.min.css">
    {% endblock %}
    <script src="{% static "operation/js/jquery-1.8.3.min.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
                    $("#get_code").click(function(){
                        var agentWx = $(" #agent_wx ").val();
                        if(agentWx.replace(/(^\s*)|(\s*$)/g, '') == ''){
                             $('#msg').show();
                             $('#msg_detail').html("微信号不能为空！");
                        }else{
                             $.getJSON("{% url 'send_msg' %}",{agent_wx:agentWx}, function(ret){
                                    $('#msg').show();
                                    $('#msg_detail').html(ret.msg);
                                    console.log(ret)
                                    if(ret.hasOwnProperty("code") && ret.code == 0){
                                        countDown();
                                    }
                              })
                        }
                    })
                });

        function checkNull(){
            var agentWx = $(" #agent_wx ").val();
            var verifyCode = $(" #verify_code ").val();
            if(agentWx.replace(/(^\s*)|(\s*$)/g, '') == '' || verifyCode.replace(/(^\s*)|(\s*$)/g, '') == ''){
                 $('#msg').show();
                 $('#msg_detail').html("微信号或验证码输入为空！");
                 return false;
              }else{
                disabledSubmit()
                return true;
            }
        }

        function countDown(){
	        $('#get_code').hide();
	        $('#count_second').html('60');
	        $('#reset_code').show();
	        var second = 60;
	        var timer = null;
	        timer = setInterval(function(){
		            second -= 1;
		            if(second >0 ){
			            $('#count_second').html(second);
		            }else{
			            clearInterval(timer);
			            $('#get_code').show();
			            $('#reset_code').hide();
		            }
	            },1000);
        }

    </script>
</head>
<body>
	<div class="titlePanelDiv">
    	<div class="titleTextDiv">
    	   <text class="titleText ">代理身份绑定</text>
    	</div>
    </div>
<form method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="content">
        <div class="weui_cells weui_cells_form form">
            <div class="weui_cell weui_cell_vcode">
                <div class="weui_cell__hd">
                    <label class="weui_label" style="width:3rem;font-size:0.8em;">{{uform.agent_wx.label}}</label>
                </div>
                <div class="weui_cell__bd numberInputDiv">
                    <input  id="agent_wx"  name="agent_wx" class="weui_input numberInput" style="font-size:0.75em;" type="text" maxlength="50" placeholder="请输入微信号"/></div>
                    <button id="get_code" type="button" class="weui_vcode_btn codeButton "><nobr>获取验证码</nobr></button>
                    <button id="reset_code" type="button" class="weui_vcode_btn codeButton" style="display:none;"><nobr><span id="count_second">60</span>秒后重新获取</nobr></button>
				</div>

            <div class="weui_cell weui_cell_vcode">
                <div class="weui_cell__hd">
                    <label class="weui_label" style="width:3rem;font-size:0.8em;">{{uform.verify_code.label}}</label>
                </div>
                <div class="weui_cell__bd codeButtonDiv">
                    <input id="verify_code"  name="verify_code" class="weui_input codeInput " style="font-size:0.75em;" type="number"  placeholder="请输入验证码"/>
                </div>
            </div>
    	</div>
        <div>
            <p id="msg">温馨提示：<span id='msg_detail' class="msg_detail_style"></span></p>
        </div>
        <div>
            <p id="explain">说&nbsp;&nbsp;明：<span class="msg_detail_style">请输入您申请代理时预留的微信号进行身份绑定，短信验证码将发送至您申请代理时预留的手机号码，如需更改请联系客服。</span></p>
        </div>
        <div align="center">
        	<input id="submit_btn" type="submit" value="确认绑定" class="submitButton" onclick="return checkNull()" >
        </div>
    </div>
</form>
</body>
</html>
