{% load i18n admin_static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>手机号绑定</title>
    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static "operation/css/register.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "operation/css/base.css" %}" />
    <link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/open/libs/weui/0.4.0/weui.min.css">
    {% endblock %}
    <script src="{% static "operation/js/jquery-1.8.3.min.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        var isPhone = 1;
        //获取验证码
        $(document).ready(function(){
                    $("#get_code").click(function(){
                        checkPhone();
                        if(isPhone){
                            var userPhone = $(" #user_phone ").val();
                             $.getJSON("{% url 'send_msg' %}",{user_phone:userPhone}, function(ret){
                                <!--console.log(ret);-->
                                 $('#msg').show();
                                 $('#msg_detail').html(ret.msg);
                                countDown();
                             })
                        }
                    })
                });

        //验证手机号码
        function checkPhone(){
	        var phone = $('#user_phone').val();
	        var pattern = /^1[0-9]{10}$/;
	        isPhone = 1;
	        if(phone == '') {
		        $('#msg').show();
                $('#msg_detail').html("请输入手机号码");
		        isPhone = 0;
		        return;
	        }
	        if(!pattern.test(phone)){
		        $('#msg').show();
                $('#msg_detail').html("请输入正确的手机号码");
		        isPhone = 0;
		        return;
	        }
        }

        //倒计时
        function countDown(){
	        $('#get_code').hide();
	        $('#count_second').html('60');
	        $('#reset_code').show();
	        var second = 60;
	        var timer = null;
	        timer = setInterval(function(){
		            second -= 1;
		            if(second >0 ){
			            $('#count_second').html(second);
		            }else{
			            clearInterval(timer);
			            $('#get_code').show();
			            $('#reset_code').hide();
		            }
	            },1000);
        }
    </script>
</head>
<body>
	<div class="titlePanelDiv">
    	<div class="titleTextDiv">
    	   <text class="titleText">手机号绑定</text>
    	</div>
    </div>
<form method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="content">
        <div class="weui_cells weui_cells_form form">
            <div class="weui_cell weui_cell_vcode">
                <div class="weui_cell__hd">
                    <label class="weui_label">{{uform.user_phone.label}}</label>
                </div>
                <div class="weui_cell__bd numberInputDiv">
                    <input  id="user_phone"  name="user_phone" class="weui_input numberInput" type="tel" maxlength="11" placeholder="请输入手机号"/></div>
                    <button id="get_code" type="button" class="weui_vcode_btn codeButton">获取验证码</button>
                    <button id="reset_code" type="button" class="weui_vcode_btn codeButton" style="display:none;"><span id="count_second">60</span>秒后重新获取</button>
				</div>
                <p id="msg" style="display:none;" class="weui_vcode_btn "><span id='msg_detail'  style="font-size:12px"></span></p>

            <div class="weui_cell weui_cell_vcode">
                <div class="weui_cell__hd">
                    <label class="weui_label">{{uform.verify_code.label}}</label>
                </div>
                <div class="weui_cell__bd codeButtonDiv">
                    <input id="verify_code"  name="verify_code" class="weui_input codeInput" type="number" placeholder="请输入验证码"/>
                </div>
            </div>

    	</div>
        <div class="submitDiv">
        	<input type="submit" value="确认绑定" class="submitButton">
        </div>
    </div>
</form>
</body>
</html>
