<!DOCTYPE html>
{%load i18n admin_static %}
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>三草两木知识库</title>
    {% block stylesheet %}
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.0/weui.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "operation/css/base.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "operation/css/index.css" %}" />
    {% endblock %}
    <script src="{% static "operation/js/index.js" %}" type="text/javascript"></script>
</head>
<body onload="generateList()">

    <div class="titlePanelDiv">
    	<div class="titleTextDiv">
    	<text class="titleText">三草两木知识库</text>
    	</div>
    </div>

    <div class="content" id="content"/>

